.pads {
        fill: #EEEEEE;
        stroke-width: 0.025px;
        stroke: #AAAAAA;
}

.dualsampas {
        fill: none;
        stroke-width: 0.025px;
        stroke: #333333;
}

.detectionelements {
        fill: none;
        stroke-width: 0.1px;
        stroke: #000000;
}

.center {
        fill: red;
        stroke-width: 0.025px;
        stroke: black;
        opacity: 0.5;
}

.area {
        fill: blue;
        opacity: 0.5;
}

.padsinarea {
        stroke: blue;
        stroke-width: 0.05px;
        fill: yellow;
        opacity: 0.5;
}

.clippedArea {
        fill: pink;
        opacity: 0.5;
        stroke: red;
        stroke-width: 0.075px;
}

h1 {
        text-decoration: underline;
}
